<section>
  <header class="header">
    <a class="logo" [routerLink]="['/']">
      <img class="logo-img" src="../../../assets/y18.svg" alt="logo">
    </a>
    <h1>Hacker News</h1>
    <nav class="nav">
      <ul class="list">
        <li class="item">
          <a href="#">new</a>
        </li>
        <li class="item">
          <a href="#">past</a>
        </li>
        <li class="item">
          <a href="#">comments</a>
        </li>
        <li class="item">
          <a href="#">ask</a>
        </li>
        <li class="item">
          <a href="#">show</a>
        </li>
        <li class="item">
          <a href="#">jobs</a>
        </li>
        <li class="item">
          <a href="#">submit</a>
        </li>
        <li class="item">
          <a href="#">login</a>
        </li>
      </ul>
    </nav>
  </header>
</section>